@charset "UTF-8"

#sketch {
   width: 100%;
   text-align:center;
}

@font-face {
    font-family: 'SF Pro Regular';
    src: url('/www/data/sf-pro-text-regular.ttf') format('truetype');
    /* You can specify different formats like woff, woff2, etc. for better browser compatibility */
}

html, body {
    /* font-family: 'SF Pro Regular', -apple-system !important; */
    /* font-family: -apple-system, 'SF Pro Regular' !important; */
    font-family:'SF Pro Regular';
    font-weight: normal;
   font-size: 14px;

    -webkit-text-size-adjust: none;
    margin: 0;
    cursor: default;
}

.x-scroll-indicator.rounded > :nth-child(2) {
    background: #333;
    content: '';
}

 /* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-button-icon.chart3:before,.x-button .x-button-icon.chart3:before {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-align:center;
        content:"Y"
    }

.x-tab .x-button-icon.chart2:before,
.x-button .x-button-icon.chart2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "Y";
}


/* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-tab .x-button-icon.docs_black2:before,
.x-button .x-button-icon.docs_black2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "k";
}
/* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-tab .x-button-icon.spades:before,
.x-button .x-button-icon.spades:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "IcoMoon";
  content: '\21';
}

.rules {
    /* ffont-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif; */
    /* font-family: -apple-system; */
    margin-bottom: 150px;
}
.rules i {
    font-weight: bold;
    color: #00A;
  font-style: normal;
}

.rules b {
    font-size: 16px;
    font-weight: bold;
    color: #A00;
}
.rules strong {
    font-weight: bold;
    color: rgb(240, 80, 0);
 }
h1 {
    font-weight: bold !important;
    font-size: 24px !important;
    margin-bottom: 6px !important;
}
h2 {
    font-weight: bold !important;
    font-size: 18px !important;
    margin-bottom: 6px !important;
}
h3 {
    font-weight: bold !important;
    font-size: 14px !important;
    margin-bottom: 6px !important;
}

.rules ul li {
    padding-bottom: 0;
    list-style-image: none;
    list-style-type: disc;
    list-style-position:inside;
}

#ext-title-3, #ext-title-6, #ext-title-7, #ext-title-10 {
  background-color: #f0f0f0;
  margin: 0;
  padding: 12px;
}

.x-field .x-input-radio:after,
.x-field.x-item-disabled .x-input-radio:checked:after {
    content: "";
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    top: 50%;
    left: auto;
    right: 1.1em;
    -webkit-mask-image: url();
    margin-top: -0.7em;
    border-radius: 15px;
}
.x-field .x-input-radio:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    right: 1.1em;
    -webkit-mask-image: url();
    margin-top: -0.7em;
    border: 5px solid #dddddd;
    border-radius: 15px;
}

.fst {
    font-size: 14px;
    text-transform:uppercase;
    white-space: nowrap;
}

table.statsummary td, th {
    font-size: 14.5px;
    text-align:right;
}

.valcompare {
    color: blue !important;
    text-align: right !important;
}

.valbetter {
    color:rgb(5, 145, 5) !important;
}
.valworse {
    color:rgb(152, 4, 4) !important;
}

.x-html a {
    text-decoration: none;
    color: #06c;
}

.restricted-div {
    max-width: 640px;
    margin: 0 auto; /* Center the div horizontally */
}

/* was st2.css */

.navblue {
  color: #0A58CA;
  font-size: 13px;
}
.navgray {
  color: #a0a0a0;
  font-size: 13px;
}


#invisible-section {
  display: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

@supports(padding: max(0px)) {
    .post {
        padding-left: max(0px, env(safe-area-inset-left));
        padding-right: max(0px, env(safe-area-inset-right));
        padding-top: max(0px, env(safe-area-inset-top));
        padding-bottom: max(0px, env(safe-area-inset-bottom));
    }
}

.menuicon-col {
    font-size: 18px;
}
.menuicon {
    font-size: 18px;
    color: #a0a0a0;
}

.bordertop {
    border-top: 1px solid #e7e7e7;
}